body{
	text-align: center;
	background-image: url('Photos/Gate.jpeg');
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: 100%;
}
.background{
	
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

.footer{
	border-radius: 50px;
	color: white;
	font-size: 80px;
	font-family: Arial, Helvetica, sans-serif;
	background: rgba(0, 0, 0, 0.6);
	border: solid transparent;
}

.logo{
	float: left;
}

.pos{
	position: absolute;
	top: 70px;
	left: 400px;
}

.fo{
	margin-top: 25px;
	font-size: 20px;
	left: 240px;
}
